<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    </head>
<body>
    <div class="care">
    <h2>Student Login</h2>

<form method="POST">
    <input name="email" placeholder="Email" required><br><br>

    <input type="password" name="password"
           placeholder="Password" required><br><br>

    <button>Login</button>
    </form>
    </div>
</form>
</body>
</html>